* {
    text-decoration: none;
}
html{
    --type-headline: #000e14;
}

.page-container {
    max-width: 1140px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.display {
    font-family: DFL Display,DFLWeb,Arial,sans-serif;
    font-weight: 900;
}

.display small {
    font-family: DFL Condensed,DFLWeb,sans-serif;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 36px;
    margin-top: 8px;
    letter-spacing: 1px;
    color: #fff;
    background: red;
    box-sizing: border-box;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    flex: 1;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.row a{
    text-decoration: none;
} 

.logo {
    width: 80px;
    height: 80px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.wrapper .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper .vs {
    color: var(--type-headline);
    font-family: DFL Condensed,DFLWeb,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    display: flex;
}

.wrapper .time {
    color: var(--type-headline);
    font-family: DFL Condensed,DFLWeb,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: block;
    display: flex;
    justify-content: center;
}

.display{
    padding-top: 20px;
    padding-bottom: 10px;
}
.club-card {
    border: 1px solid #4a484877;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.timePlace {
    text-align: center;
}
.stadium {
    font-size: 20px;
    font-weight: 700;
}
.day {
    font-size: 16px;
}
.time {
    font-size: 14px;
}
.viewMore button{
    padding: 5px 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: whitesmoke;
    font-size: 12px;
    font-weight: 600;
    transition: all .3s ease;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    border: 0.2px solid rgba(140, 129, 129, 0.464);
}
.viewMore button:hover {
    transform: scale(0.9);
    color: #fff;
}
.viewMore button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: red;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 350ms;
   }
.viewMore button:hover::before {
    width: 100%;
}